<div class="features">
    <div class="featuresContainer">
        <div class="feature1">
            <div class="feature1TitleContainer">
                <p class="feature1Title">
                    Average Like a Pro
                </p>
            </div>
            <div class="feature1DescriptionContainer">
                <p class="feature1Description">
                    No other app offers precious metals averaging analytics
                </p>
            </div>
        </div>
        <!-- <div class="iphoneFeature1Preview">
            <img class="iphoneFeature1Screen" src="{{ site.github.baseurl }}/assets/screenshot/screenshot3.png"
                alt="Precious Metals Manager Analytics">
        </div> -->
    </div>
    <div class="appStoreContainer">
        <a class="appStoreLink" href="{{site.appstore_link}}">
            <img class="appStore" src="assets/appstore.svg" alt="Precious Metals Manager">
        </a>
    </div>
</div>