<div class="image-container">
    <img class="img-fluid theme-image" 
        data-light="{{ site.github.baseurl }}{{ include.data_light_1 }}"
        data-dark="{{ site.github.baseurl }}{{ include.data_dark_1 }}"
        src="{{ site.github.baseurl }}{{ include.data_dark_1 }}" 
        alt="{{ include.alt_1 }}" />
    <img class="img-fluid theme-image" 
        data-light="{{ site.github.baseurl }}{{ include.data_light_2 }}"
        data-dark="{{ site.github.baseurl }}{{ include.data_dark_2 }}"
        src="{{ site.github.baseurl }}{{ include.data_dark_2 }}" 
        alt="{{ include.alt_2 }}" />
</div>