<!-- Lite YouTube Embed: https://github.com/paulirish/lite-youtube-embed?tab=readme-ov-file -->
<link rel="stylesheet" href="../../assets/css/lite-yt-embed.css" />

<script src="../../assets/js/lite-yt-embed.js"></script>

<style>
    .iframe-container {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

<div class="iframe-container">
    <lite-youtube videoid="{{ include.id }}">
        <a href="https://youtube.com/watch?v={{ include.id }}" target="_blank class=" class="lty-playbtn"
            title="Play Video">
            <span class="lyt-visually-hidden">Play Video: {{ include.title }}</span>
        </a>
    </lite-youtube>
</div>