<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
    <div>
        <div class="headerBackground">
            <div class="container">
                {% include_cached header.html %}
                <div class="iphonePreview">
                    <img class="iphoneScreen hidden" src="" alt="">
                    {% include screencontent.html %}
                </div>
                <div class="appInfo">
                    <div class="appDescriptionContainer">
                        <p class="appDescription">
                            {{ site.app_description }}
                        </p>
                    </div>
                    <div class="appSloganContainer">
                        <p class="appSlogan">
                            Empowering your portfolio management.
                        </p>
                    </div>
                    <div class="downloadButtonsContainer">
                        {% if site.playstore_link %}
                        <a class="playStoreLink" href="{{site.playstore_link}}"><img class="playStore"
                                src="assets/playstore.png"></a>
                        {% endif %}
                        <a class="appStoreLink" href="{{site.appstore_link}}"><img class="appStoreQR"
                                src="assets/appstoreQR.png" alt="Precious Metals Manager QR code"></a>
                    </div>
                </div>
                {% include features.html %}
                <div class="appStoreContainer">
                    <a class="appStoreLink" href="{{site.appstore_link}}">
                        <img class="appStore" src="assets/appstore.svg" alt="Precious Metals Manager QR code">
                    </a>
                </div>
                {% include appstoreimages.html %}
            </div>
            {% include_cached footer.html %}
        </div>
    </div>
</body>

</html>