<!DOCTYPE html>
<html lang="en-us">

<style>
    .featured-image {
        background-size: cover;
        width: 100%;
        height: 450px;
        background-repeat: no-repeat;
        background-position: center center;
        margin-bottom: 1.5em;

        @include media-query($on-palm) {
            height: 200px;
        }
    }
</style>

{% include head.html %}

<body class="subPageBody">
    <div class="headerBackground subPageHeaderBackground">
        <div class="container subPageContainer">
            {% include header.html %}
            <article class="page markdown-body">
                {% include breadcrumbs.html %}
                <br>

                <div class="meta" data-aos="fade-up">
                    <p>
                        <small>
                            <span>
                                <i class="fa fa-calendar" aria-hidden="true"></i> {{page.date |
                                date_to_string }}&nbsp;
                            </span>
                            <span>
                                <i class="fa fa-user" aria-hidden="true"></i> {{page.author }}&nbsp;
                            </span>

                            <span>
                                <i class="fa fa-clock-o" aria-hidden="true"></i> {% include
                                reading-time.html %}
                            </span>
                        </small>
                    </p>
                </div>

                <div class="featured-image rounded shadow" style="background-image: url({{page.image | relative_url }})"
                    data-aos="zoom-in"></div>

                {{ content }}
                {% include footer.html %}
            </article>
        </div>
        {% include appstoreimages.html %}
    </div>
</body>

</html>